<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Ecommerce_Andriod">
<listeners>
<listener class-name="testutils.Listeners"/>
</listeners>
  <test name="Login Tests">
      <classes>
        <class name="samir.appiumecommerce.LoginScreen_Test"/>
      </classes>
  </test> 
</suite> <!-- Suite -->
